[submodule "DSM"]
	path = DSM
	url = https://github.com/ElGarash/DSM
	branch = cvact-descriptors
[submodule "L2LTR"]
	path = L2LTR
	url = https://github.com/ElGarash/L2LTR
	branch = cvact-descriptors
[submodule "comingdowntoearth"]
	path = comingdowntoearth
	url = https://github.com/ElGarash/comingdowntoearth
	branch = cvact-descriptors
[submodule "SAFA"]
	path = SAFA
	url = https://github.com/ElGarash/SAFA
	branch = cvact-descriptors
