[submodule "DSM"]
	path = DSM
	url = https://github.com/ElGarash/DSM
[submodule "Siam-FCANet"]
	path = Siam-FCANet
	url = https://github.com/ElGarash/Siam-FCANet
[submodule "L2LTR"]
	path = L2LTR
	url = https://github.com/ElGarash/L2LTR
